/* background */
#top {
    background: linear-gradient(90deg, grey, rgb(12, 96, 170));
    background-size: fill;
    padding-bottom: 30px;
}

/* Menu */
nav {
    position: sticky;
    top: 0px;
    background-color: black;
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;

    display: flex;
    flex-direction: repeat(4, 1fr);
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.textnav > button {
    width: 140px;
    height: 50px;
    background-color: rgb(87, 87, 87);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button:hover {
    background: linear-gradient(black, rgb(12, 96, 170));
}

/* Header */
.header {
    background-image: url("/images/hero2.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center {
    padding-top: 10px;
    padding-right: 300px;
}

@keyframes LOGOLP {
    0% {border-radius: 100%;}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}

.LOGOLP {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation-name: LOGOLP;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.linkedin-logo-top {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    filter: grayscale(100%);
}

.githubLogo {
    width: 40px;
    height: 40px;
}

.location-icon {
    width: 40px;
    height: 40px;
}

.profile-picture {
    width: 250px; 
    height: 250px;
    border-radius: 70%;
    position: relative;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

body {
    margin: 0px;
}

/* Education */
.Education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 10px;
}

#codespace {
    color: #ffffff;
    font-size: 25px;
}

#codespace:hover {
    color: rgb(0, 0, 0);
}

.Qualification-1 {
    background-image: url("/images/gridBackground.jpg");
    margin-left: 10px;
}

.Qualification-1:hover {
    background-image: url("/images/hero3.jpg");
}

.Qualification-2 {
    background-image: url("/images/gridBackground.jpg");
    margin-right: 10px;
}

.Qualification-2:hover {
    background-image: url("/images/hero3.jpg");
}

/* Experience */
.Experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.Job-1 {
    background-image: url("/images/gridBackground.jpg");
    margin-left: 10px;
}

.Job-1:hover {
    background-image: url("/images/hero3.jpg");
}

.Job-2 {
    background-image: url("/images/gridBackground.jpg");
    margin-right: 10px;
}

.Job-2:hover {
    background-image: url("/images/hero3.jpg");
}

#contact {
    padding: 0px;
}

/* Skills */
.Skills {
    background-color: transparent;
}

.skillGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.skillset {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/images/gridBackground.jpg");
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.skillset:hover {
    background-image: url("/images/hero3.jpg");
}

/* heading(font) */
h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
  }

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
}

h3 {
    color: rgb(12, 96, 170);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/* Contact */
.Contact {
    background-image: url("/images/hero2.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
}

#Contact {
    background-color: transparent;
    color: white;
}

/* Linkin Logo */
@keyframes linkedinLogo {
    0% {border-radius: 0%;}
    25%{border-radius: 100%;
        transform: rotate(90deg);}
    50%{filter: grayscale(25);
        transform: rotate(180deg);}
    75%{filter: grayscale(50);
        transform: rotate(270deg);}
    100%{filter:grayscale(100%);
        transform: rotate(360deg);}
}

.linkedin-logo {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: linkedinLogo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

/* Phone/E-mail Icon */
.icon {
    width: 50px;
    height: 50px;
    animation-name: linkedinLogo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

/* general text */
 .text {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 1rem 2rem;
    text-align: center;
    margin: 0;
    }

.text1 {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0;
}

/* intro text */
.intro {
        color:rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-align: center; 
        font-weight: bold;
}

/* Footer */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Form */
form {
    background-image: url("/images/hero2.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
}

.submit:hover {
    background-color: blue;
    color: white;
}

#Feedback {
    background-color: transparent;
    color: white;
}

/* Responsive: Phones ------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 425px) {
    /* Header */
    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .center {
        padding: 0;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 20px;
    }

    .intro {
        font-size: 10px;
    }

    .LOGOLP {
        width: 25px;
        height: 25px;
    }

    .linkedin-logo-top {
        width: 20px;
        height: 20px;
    }

    .githubLogo {
        width: 20px;
        height: 20px;
    }

    .location-icon {
        width: 20px;
        height: 20px;
    }

    .text1 {
        font-size: 10px;
    }

    /* Nav Bar */
    .textnav > button {
        width: 76px;
        height: 20px;
        font-size: 10px;
    }

    /* Education/Experience */
    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .text {
        font-size: 8px;
        padding: 5px;
    }

    #codespace {
        font-size: 10px;
    }

    .skillset {
        padding: 5px;
        font-size: 10px;
    }

    /* Contact */
    .Contact {
        font-size: 10px;
    }

    .linkedin-logo {
        width: 20px;
        height: 20px;
    }

    /* Phone/E-mail Icons */
    .icon {
        width: 20px;
        height: 20px;
    }

    form {
        font-size: 8px;
    }

    .name {
        width: 100px;
        height: 10px;
    }

    .email {
        width: 130px;
        height: 10px;
    }

    .msg {
        width: 130px;
    }

    .submit {
        height: 15px;
        width: 50px;
        font-size: 8px;
    }

}

/* Responsive: Tablets ------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 426px) {
    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .center {
        padding: 0;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 30px;
    }

    .intro {
        font-size: 15px;
    }

    .LOGOLP {
        width: 30px;
        height: 30px;
    }

    .linkedin-logo-top {
        width: 20px;
        height: 20px;
    }

    .githubLogo {
        width: 20px;
        height: 20px;
    }

    .location-icon {
        width: 20px;
        height: 20px;
    }

    .text1 {
        font-size: 12px;
    }

    /* Nav Bar */
    .textnav > button {
        width: 76px;
        height: 20px;
        font-size: 12px;
    }

    /* Education/Experience */
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .text {
        font-size: 12px;
        padding: 5px;
    }

    #codespace {
        font-size: 20px;
    }

    .skillset {
        padding: 5px;
        font-size: 15px;
    }

    /* Contact */
    .Contact {
        font-size: 15px;
    }

    .linkedin-logo {
        width: 30px;
        height: 30px;
    }

    /* Phone/E-mail Icons */
    .icon {
        width: 30px;
        height: 30px;
    }

    form {
        font-size: 12px;
    }

    .name {
        width: 100px;
        height: 10px;
    }

    .email {
        width: 130px;
        height: 10px;
    }

    .msg {
        width: 130px;
    }

    .submit {
        height: 15px;
        width: 50px;
        font-size: 8px;
    }


}

/* Responsive: Laptop --------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 800px) {
    .center {
        padding-right: 150px;
    }

    .profile-picture {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 35px;
    }

    .intro {
        font-size: 15px;
    }

    .LOGOLP {
        width: 40px;
        height: 40px;
    }

    .linkedin-logo-top {
        width: 30px;
        height: 30px;
    }

    .githubLogo {
        width: 30px;
        height: 30px;
    }

    .location-icon {
        width: 30px;
        height: 30px;
    }

    .text1 {
        font-size: 12px;
    }

    /* Nav Bar */
    .textnav > button {
        width: 76px;
        height: 30px;
        font-size: 12px;
    }

    /* Education/Experience */
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .text {
        font-size: 12px;
        padding: 5px;
    }

    #codespace {
        font-size: 20px;
    }

    .skillset {
        padding: 5px;
        font-size: 15px;
    }

    /* Contact */
    .Contact {
        font-size: 15px;
    }

    .linkedin-logo {
        width: 30px;
        height: 30px;
    }

    /* Phone/E-mail Icons */
    .icon {
        width: 30px;
        height: 30px;
    }

    form {
        font-size: 12px;
    }

    .name {
        width: 100px;
        height: 10px;
    }

    .email {
        width: 130px;
        height: 10px;
    }

    .msg {
        width: 130px;
    }

    .submit {
        height: 25px;
        width: 70px;
        font-size: 15px;
    }

} 

/* Larger Laptop--------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
    /* Nav Bar */
    .textnav > button {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    /* Header */
    h1 {
        font-size: 45px;
    }

    .intro {
        font-size: 20px;
    }

    .LOGOLP {
        width: 50px;
        height: 50px;
    }

    .linkedin-logo-top {
        width: 40px;
        height: 40px;
    }

    .githubLogo {
        width: 40px;
        height: 40px;
    }

    .location-icon {
        width: 40px;
        height: 40px;
    }

    .text1 {
        font-size: 18px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .text {
        font-size: 15px;
        padding: 5px;
    }

    #codespace {
        font-size: 25px;
    }

    /* Contact */
        .Contact {
            font-size: 20px;
        }
    
        .linkedin-logo {
            width: 40px;
            height: 40px;
        }
    
        /* Phone/E-mail Icons */
        .icon {
            width: 40px;
            height: 40px;
        }
    
        form {
            font-size: 15px;
        }
    
        .name {
            width: 150px;
            height: 20px;
        }
    
        .email {
            width: 150px;
            height: 20px;
        }
    
        .msg {
            width: 170px;
        }
}